*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#global-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

#header {
  /* background-color: #1060f4; */
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header a {
  text-decoration: none;
}

#header h1 {
  text-decoration: none;
  color: #47ad86;
  font-weight: bolder;
  margin: 0 5px;
  font-size: 1.5rem;
}

#menu-container {
  display: flex;
  color: black;
}

#menu-container a {
  margin: 0 5px;
  text-decoration: none;
  color: black;
}



#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: #fefefe;
  background-color: #47ad86;
  background-image: url("./images/background.jpg");
  background-size: cover;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 13;
}

#content h2 {
  margin: 15px 0;
}

#card-container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  border-radius: 5px;
  background-color: #fefefe;
  width: 250px;
  height: 300px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

#input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 100%;

}

#date {
  margin: 10px;
}



input {
  background-color: #eff2f1;
  padding: 5px 15px;
  width: 80%;
  border-radius: 4px;
  outline: none;
  border: none;
}

hr {
  width: 79%;
}
/* 
input:nth-child(1) {
  border-bottom: 1px solid black;
} */

#btn-search {
  background-color: #47ad86;
  margin: 25px;
  padding: 10px 30px;
  border-radius: 5px;
  color: #f1f1f1;
  border: none;
  width: 80%;
}
#btn-search:hover {
  background-color: #367a60;
}

.btn-book {
  font-size: 1em;
  background-color: #47ad86;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  color: #f1f1f1;
}
.btn-book:hover {
  background-color: #367a60;
}

#card-result {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
  overflow-x: hidden;
}

#card-result img {
  margin-top: 30px;
  height: 120px;
  width: 120px;
}

#card-result hr {
  height: 3px;
  color: #47ad86;
  background-color: #47ad86;
  margin: 25px 0;
}

.result-row {
  font-size: 0.7em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #f5eeee;
  width: 95%;
  height: 40px;
}